# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSharpBasic.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\boral\RiderProjects\CSharpBasic\.idea\.idea.CSharpBasic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
